<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mon Application Symfony{% endblock %}</title>

    {# Import Tailwind CSS #}
</head>
<body>
<header>
    {% include 'parts/navbar.html.twig' %}
</header>

<main class="container mx-auto p-4">
    {% block body %}
    {% include 'parts/topiccard.html.twig' %}
    {% endblock %}
</main>

<footer class="text-center text-gray-500 p-4">
    &copy; {{ "now"|date("Y") }} Mon Application Symfony
</footer>

{# Import le JavaScript #}
<script src="{{ asset('build/runtime.js') }}" defer></script>
<script src="{{ asset('build/app.js') }}" defer></script>
</body>
</html>
